{% extends "layout.html" %}
{% block content %}
<body>
  <div class="container">
    <h1>Sensitive Data Exposure</h1>

    <div>
      <p>Explications...</p>
    </div>

    <div>
      <form method="POST" action="/A3/register">
        Firstname: <input type="text" name="firstname" id="firstname" value=""/>
        Lastname: <input type="text" name="lastname" id="lastname" value=""/>
        Password: <input type="password" name="password" id="password" value=""/>
        <input type="submit" value="Login" />
      </form>
    </div>
  </div>
</body>
{% endblock %}
